@charset "UTF-8";

{
position




:


 


absolute




;
margin




:


 


auto




;
top




:


 


30%;
right




:


 


0;
bottom




:


 


0;
left




:


 


0;
width




:


 


800
px




;
height




:


 


800
px




;
border-radius




:


 


3
px




;
}
.profile-picture {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 4px;
	display: inline-block;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.profile-info-row {
	display: table-row
}

.profile-info-name, .profile-info-value {
	display: table-cell;
	border-top: 1px dotted #D5E4F1
}

.profile-info-name {
	text-align: right;
	padding: 6px 10px 6px 4px;
	font-weight: 400;
	color: #667E99;
	background-color: transparent;
	width: 110px;
	vertical-align: middle
}

.profile-info-value {
	padding: 6px 4px 6px 6px
}

.profile-info-value>span+span:before {
	display: inline;
	content: ",";
	margin-left: 1px;
	margin-right: 3px;
	color: #666;
	border-bottom: 1px solid #FFF
}

.profile-info-value>span+span.editable-container:before {
	display: none
}

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value
	{
	border-top: none
}

.profile-user-info {
	display: table;
	width: 98%;
	width: calc(100% - 24px);
	margin: 0 auto
}

body {
	font-family: Arial;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.button {
	border: none;
	background: none;
}